body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #3e9fa9;
}

.dailyPlan {
  color: #000000;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description{
  white-space: pre-wrap;
}

.display-3 {
  font-size: 50px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}


.past {
  background-color: #636363;
  color: white;
}

.present {
  background-color: #e7ff61;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #00ff0090;
  color: rgb(0, 0, 0);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0);
}

